<div class="panel panel-default">
    <div class="panel-heading"><h2>About this application</h2></div>
    <div class="panel-body">
        <h3>Software used</h3>
        <ul class="list-group">
            <li class="list-group-item">PHPStorm with Angular plugin</li>
            <li class="list-group-item">Git & GitHub</li>
            <li class="list-group-item">Angular</li>
            <li class="list-group-item">Yeoman</li>
            <li class="list-group-item">Grunt</li>
            <li class="list-group-item">Bower</li>
            <li class="list-group-item">Bootstrap</li>
            <li class="list-group-item">Firebase</li>
        </ul>
    </div>
</div>
